In [1]:
import pandas as pd #подключение библиотек
import numpy as np

In [2]:
df = pd.read_csv('vgsales_15.csv') # запись файла
df # вывод всего

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,14710,Otome wa Oanesama ni Koi Shiteru Portable: 2-J...,PSP,2011.0,Adventure,Alchemist,0.00,0.00,0.03,0.00,0.03
1,2738,DJ Hero 2,PS3,2010.0,Misc,Activision,0.47,0.19,0.00,0.09,0.75
2,13538,Gem Smashers,3DS,2011.0,Platform,Crave Entertainment,0.04,0.00,0.00,0.00,0.04
3,13800,Metal Slug XX,PSP,2009.0,Shooter,DHM Interactive,0.03,0.00,0.00,0.00,0.04
4,8062,X-Men Origins: Wolverine,PS2,2009.0,Action,Activision,0.13,0.00,0.00,0.05,0.18
...,...,...,...,...,...,...,...,...,...,...,...
548,3239,Virtua Cop,SAT,1995.0,Shooter,Sega,0.00,0.00,0.62,0.00,0.62
549,9265,Rogue Warrior,PS3,2009.0,Shooter,Bethesda Softworks,0.11,0.02,0.00,0.01,0.14
550,8530,Bladestorm: Nightmare,PS4,2015.0,Action,Tecmo Koei,0.07,0.04,0.03,0.02,0.16
551,4962,Super Famista 3,SNES,1994.0,Sports,Namco Bandai Games,0.00,0.00,0.39,0.00,0.39
552,1794,Pilotwings,SNES,1990.0,Simulation,Nintendo,0.46,0.17,0.48,0.02,1.14

In [3]:
df.shape #количество строк и стобцов

(553, 11)

In [4]:
df.head(10) #первые 10 записей

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,14710,Otome wa Oanesama ni Koi Shiteru Portable: 2-J...,PSP,2011.0,Adventure,Alchemist,0.00,0.00,0.03,0.00,0.03
1,2738,DJ Hero 2,PS3,2010.0,Misc,Activision,0.47,0.19,0.00,0.09,0.75
2,13538,Gem Smashers,3DS,2011.0,Platform,Crave Entertainment,0.04,0.00,0.00,0.00,0.04
3,13800,Metal Slug XX,PSP,2009.0,Shooter,DHM Interactive,0.03,0.00,0.00,0.00,0.04
4,8062,X-Men Origins: Wolverine,PS2,2009.0,Action,Activision,0.13,0.00,0.00,0.05,0.18
5,10880,World Cup '98 France: Road to Win,SAT,1998.0,Sports,Sega,0.00,0.00,0.09,0.00,0.09
6,861,Sonic Classic Collection,DS,2010.0,Platform,Sega,0.99,0.80,0.00,0.18,1.97
7,695,Dead Island,PS3,2011.0,Action,Deep Silver,1.08,0.75,0.15,0.31,2.29
8,500,Hot Shots Golf 3,PS2,2001.0,Sports,Sony Computer Entertainment,0.99,0.32,1.38,0.20,2.89
9,10666,Harvest Moon DS Cute (jp sales),DS,2005.0,Simulation,Marvelous Interactive,0.00,0.00,0.10,0.00,0.10

In [5]:
df.tail(10) #последние 10 записей

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
543,10562,Yaiba: Ninja Gaiden Z,PS3,2014.0,Action,Tecmo Koei,0.05,0.04,0.00,0.02,0.10
544,412,True Crime: Streets of LA,PS2,2003.0,Action,Activision,1.89,1.05,0.02,0.31,3.27
545,11590,Pocket Dogs,GBA,2004.0,Misc,Agatsuma Entertainment,0.06,0.02,0.00,0.00,0.08
546,15622,"Shounen Onmyouji: Tsubasa Yoima, Ten e Kaere",PS2,2007.0,Adventure,Kadokawa Shoten,0.00,0.00,0.02,0.00,0.02
547,9819,Earthworm Jim 3D,N64,1999.0,Platform,Interplay,0.10,0.02,0.00,0.00,0.12
548,3239,Virtua Cop,SAT,1995.0,Shooter,Sega,0.00,0.00,0.62,0.00,0.62
549,9265,Rogue Warrior,PS3,2009.0,Shooter,Bethesda Softworks,0.11,0.02,0.00,0.01,0.14
550,8530,Bladestorm: Nightmare,PS4,2015.0,Action,Tecmo Koei,0.07,0.04,0.03,0.02,0.16
551,4962,Super Famista 3,SNES,1994.0,Sports,Namco Bandai Games,0.00,0.00,0.39,0.00,0.39
552,1794,Pilotwings,SNES,1990.0,Simulation,Nintendo,0.46,0.17,0.48,0.02,1.14

In [6]:
df.info() #название столбцов, типы элементов, вес и тп

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 553 entries, 0 to 552
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Rank          553 non-null    int64
 1   Name          553 non-null    object
 2   Platform      553 non-null    object
 3   Year          548 non-null    float64
 4   Genre         553 non-null    object
 5   Publisher     549 non-null    object
 6   NA_Sales      553 non-null    float64
 7   EU_Sales      553 non-null    float64
 8   JP_Sales      553 non-null    float64
 9   Other_Sales   553 non-null    float64
 10  Global_Sales  553 non-null    float64
dtypes: float64(6), int64(1), object(4)
memory usage: 47.6+ KB

In [7]:
df.describe() #ср значение, минимальное, медана

,Rank,Year,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
count,553.000000,548.000000,553.000000,553.000000,553.000000,553.000000,553.000000
mean,8350.895118,2006.430657,0.381573,0.230669,0.102441,0.072948,0.788011
std,4979.790959,6.209676,1.949724,1.366659,0.389839,0.411107,3.911047
min,1.000000,1981.000000,0.000000,0.000000,0.000000,0.000000,0.010000
25%,4045.000000,2003.000000,0.000000,0.000000,0.000000,0.000000,0.050000
50%,8371.000000,2008.000000,0.080000,0.030000,0.000000,0.010000,0.170000
75%,12866.000000,2011.000000,0.260000,0.110000,0.040000,0.030000,0.490000
max,16561.000000,2016.000000,41.490000,29.020000,3.840000,8.460000,82.740000

In [16]:
df.drop(columns = ['Global_Sales']) #удаление стобца
df

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,14710,Otome wa Oanesama ni Koi Shiteru Portable: 2-J...,PSP,2011.0,Adventure,Alchemist,0.00,0.00,0.03,0.00,0.03
1,2738,DJ Hero 2,PS3,2010.0,Misc,Activision,0.47,0.19,0.00,0.09,0.75
2,13538,Gem Smashers,3DS,2011.0,Platform,Crave Entertainment,0.04,0.00,0.00,0.00,0.04
3,13800,Metal Slug XX,PSP,2009.0,Shooter,DHM Interactive,0.03,0.00,0.00,0.00,0.04
4,8062,X-Men Origins: Wolverine,PS2,2009.0,Action,Activision,0.13,0.00,0.00,0.05,0.18
...,...,...,...,...,...,...,...,...,...,...,...
548,3239,Virtua Cop,SAT,1995.0,Shooter,Sega,0.00,0.00,0.62,0.00,0.62
549,9265,Rogue Warrior,PS3,2009.0,Shooter,Bethesda Softworks,0.11,0.02,0.00,0.01,0.14
550,8530,Bladestorm: Nightmare,PS4,2015.0,Action,Tecmo Koei,0.07,0.04,0.03,0.02,0.16
551,4962,Super Famista 3,SNES,1994.0,Sports,Namco Bandai Games,0.00,0.00,0.39,0.00,0.39
552,0,Pilotwings,SNES,1990.0,Simulation,Nintendo,0.46,0.17,0.48,0.02,1.14

In [17]:
df.loc[(df.Rank < 2000), 'Rank'] = 0 #замена значений Rank, которые меньше 2000, на 0
df

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,14710,Otome wa Oanesama ni Koi Shiteru Portable: 2-J...,PSP,2011.0,Adventure,Alchemist,0.00,0.00,0.03,0.00,0.03
1,2738,DJ Hero 2,PS3,2010.0,Misc,Activision,0.47,0.19,0.00,0.09,0.75
2,13538,Gem Smashers,3DS,2011.0,Platform,Crave Entertainment,0.04,0.00,0.00,0.00,0.04
3,13800,Metal Slug XX,PSP,2009.0,Shooter,DHM Interactive,0.03,0.00,0.00,0.00,0.04
4,8062,X-Men Origins: Wolverine,PS2,2009.0,Action,Activision,0.13,0.00,0.00,0.05,0.18
...,...,...,...,...,...,...,...,...,...,...,...
548,3239,Virtua Cop,SAT,1995.0,Shooter,Sega,0.00,0.00,0.62,0.00,0.62
549,9265,Rogue Warrior,PS3,2009.0,Shooter,Bethesda Softworks,0.11,0.02,0.00,0.01,0.14
550,8530,Bladestorm: Nightmare,PS4,2015.0,Action,Tecmo Koei,0.07,0.04,0.03,0.02,0.16
551,4962,Super Famista 3,SNES,1994.0,Sports,Namco Bandai Games,0.00,0.00,0.39,0.00,0.39
552,0,Pilotwings,SNES,1990.0,Simulation,Nintendo,0.46,0.17,0.48,0.02,1.14

In [18]:
df = df.replace({'Genre' : np.nan}, 'Sega') #замена всех null значение на Sega
df

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,14710,Otome wa Oanesama ni Koi Shiteru Portable: 2-J...,PSP,2011.0,Adventure,Alchemist,0.00,0.00,0.03,0.00,0.03
1,2738,DJ Hero 2,PS3,2010.0,Misc,Activision,0.47,0.19,0.00,0.09,0.75
2,13538,Gem Smashers,3DS,2011.0,Platform,Crave Entertainment,0.04,0.00,0.00,0.00,0.04
3,13800,Metal Slug XX,PSP,2009.0,Shooter,DHM Interactive,0.03,0.00,0.00,0.00,0.04
4,8062,X-Men Origins: Wolverine,PS2,2009.0,Action,Activision,0.13,0.00,0.00,0.05,0.18
...,...,...,...,...,...,...,...,...,...,...,...
548,3239,Virtua Cop,SAT,1995.0,Shooter,Sega,0.00,0.00,0.62,0.00,0.62
549,9265,Rogue Warrior,PS3,2009.0,Shooter,Bethesda Softworks,0.11,0.02,0.00,0.01,0.14
550,8530,Bladestorm: Nightmare,PS4,2015.0,Action,Tecmo Koei,0.07,0.04,0.03,0.02,0.16
551,4962,Super Famista 3,SNES,1994.0,Sports,Namco Bandai Games,0.00,0.00,0.39,0.00,0.39
552,0,Pilotwings,SNES,1990.0,Simulation,Nintendo,0.46,0.17,0.48,0.02,1.14

In [19]:
df.Platform #вывод всех платформ в качестве целевого признака

0       PSP
1       PS3
2       3DS
3       PSP
4       PS2
       ...
548     SAT
549     PS3
550     PS4
551    SNES
552    SNES
Name: Platform, Length: 553, dtype: object

In [20]:
df.to_csv('vgsales15_new.csv', index=False) #сохранение датасета